
.products {
    border: 2px solid black;
    color: black;
    background-color: lightgray;
    width: 20%;
    padding: 10px;
    text-align: center;
    margin: 5px;
    float: left;
}
img {
    width: 50%;
}
body {
    background-color: lightblue;
}
