* {
	box-sizing: border-box;
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: sticky;
	overflow:hidden;
	background-color: #333;
	top: 0;
}

li {
	float: left;
}

body {
	all: unset;
	font-size: 28px;
	padding: 30px;
	height: 100%;
}

.bgimg {
	background-position: center;
	background-size: cover;
	background-color: black;
	color: white;
	min-height: 85%
}

.header {
	background-color:black;
	color: white;
	padding: 30px;
	text-align: center;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 20px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}