
body {
	font-size: 28px;
}
ul.nav {
	list-style-type:none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: sticky;
	width: 100%;
	top: 0;
  }
  
  ul.hobbie {
	list-style-type: none;
	margin:0 auto;
	padding:0;
  }
  ul.hobbie li {
	background-color: lightblue;
	margin: 2px;
  }
  .main {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	height: minmax(100px, auto);
  }
  .main div {
	padding: 10px;
	margin: 0 auto;
	text-align:center;
  }
  .main div p {
	width: 30%;
	margin: 0 auto;
	overflow: hidden;
	border: 2px solid green;
  }
  .nav li {
	border-right: 1px solid #bbb;
	float: left;
  }
  
  li:last-child {
	border-right: none;
  }
  .active {
	float: right;
  }
  li a {
	display: block;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
  }
  li a:hover {
	background-color: #111;
  }
footer {
	bottom: 0;
	padding: 20px;
	text-align: center;
	margin: auto;
	background-color: lightgray;
}

.main ul {
	list-style-type: none;
	width: 40%;
}

.header h1 {
	font-size: 50px;
}

.navbar li a:hover {
	background-color: #111;
}

footer {
	bottom: 0;
	padding: 20px;
	text-align: center;
	margin: auto;
	background-color: lightgray;
}
