.navbar {
	list-style-type: none;
	margin: 0;
	padding:0;
	position: sticky;
	overflow:hidden;
	background-color: #333;
}

li {
	float: left;
}

body {
	all: unset;
	height: 100%;
}

.bgimg {
	background-position: center;
	background-size: cover;
	background-color: black;
	color: white;
	min-height: 75%
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}